<h1>Listing words</h1>

<table>
  <thead>
    <tr>
      <th>Palabra</th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= link_to word.name, word_path(word.name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva palabra', new_word_path %>
